    $primery-text-color: #757575;
    $title-text-color: #212121;
    $accent-text-color: #ffffff;
    $header-color: #ececec;
    $footer-contact-color: rgba(255, 255, 255, 0.6);
    $team-bg-color: #f5f4fa;
    $secondary-bg-color: #2f303a;
    $button-bg-color: #2196f3;
    $main-bg-color: #e5e5e5;
    $social-icon-color: #AFB1B8;

    $cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);